<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit {{ product.model }}</title>
    {% include 'head.html' %}
    <main class="container-fluid" style="margin: 50px;">
       
    <form method="POST" action="/photocell_edit?product_id={{ product.id }}" enctype="multipart/form-data">
            <div class="row">
             
                 <!-- First block -->

                 <div class="col-md-3" style="border-right: 1px solid #dfdfdf;">
                    <h2>Basic Information</h2>
                    <div class="row">
                        <div class="col-md-4" >
                            <label for="category">Category:</label>
                            <select name="category" id="category" class="form-control">
                                <option value="Photocell" {% if product.category == 'Photocell' %}selected{% endif %}>Photocell</option>
                            </select>
                        </div>
                        <div class="col-md-4" >
                            <label for="brand">Brand:</label>
                            <select name="brand" id="brand" class="form-control">
                                {% if product.brand == 'Mitsubishi' %}

                                <option value="Mitsubishi" {% if product.brand == 'Mitsubishi' %}selected{% endif %}>Mitsubishi</option>
                                {% endif %}

                                {% if product.brand == 'Omron' %}
                                    <option value="Omron" {% if product.brand == 'Omron' %}selected{% endif %}>Omron</option>
                                {% endif %}
                                <option value="Others" {% if product.brand == 'Others' %}selected{% endif %}>Others</option>

                            </select>
                        </div>

                        <div class="col-md-4" >
                            <label>Series:</label>

                            <select name="series" id="omron" class="form-control">
                                <option value="none" {% if product.series == 'none' %}selected{% endif %}>none</option>
                                <option value="E2B" {% if product.series == 'E2B' %}selected{% endif %}>E2B</option>
                                <option value="E2E" {% if product.series == 'E2E' %}selected{% endif %}>E2E</option>
                                <option value="TL-N" {% if product.series == 'TL-N' %}selected{% endif %}>TL-N</option>
                                <option value="TL-W" {% if product.series == 'TL-W' %}selected{% endif %}>TL-W</option>
                                <option value="E3F1" {% if product.series == 'E3F1' %}selected{% endif %}>E3F1</option>
                                <option value="E3FA" {% if product.series == 'E3FA' %}selected{% endif %}>E3FA</option>
                                <option value="E3FB" {% if product.series == 'E3FB' %}selected{% endif %}>E3FB</option>
                                <option value="E3J" {% if product.series == 'E3J' %}selected{% endif %}>E3J</option>
                                <option value="E3Z" {% if product.series == 'E3Z' %}selected{% endif %}>E3Z</option>
                                <option value="E3Z" {% if product.series == 'E3Z' %}selected{% endif %}>E3Z</option>

                            </select>   
                        
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="model">Model:</label>
                        <input type="text" name="model" id="model" class="form-control" value="{{ product.model }}" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea name="description" id="description" class="form-control">{{ product.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="model">Origin:</label>
                        <input type="text" name="origin" id="origin" class="form-control" value="{{ product.origin }}" value="{{ product.origin }}">
                     </div>
                    
                     <div class="form-group">
                        <label for="product_image">Product Image:</label>
                        <br>
                        <input type="radio" name="image_option" value="existing" id="existing_image" checked>
                        <label for="existing_image">Use Existing Image</label>
                        
                        <br>
                        <input type="radio" name="image_option" value="upload" id="upload_image">
                        <label for="upload_image">Upload New Image</label>
                        <br>
                        <div id="image_controls">
                            <!-- This div will contain either the existing image or the upload input based on the user's selection -->
                            {% if product.product_image %}
                            {% endif %}
                            <!-- Input field for uploading new image -->
                            <input type="file" name="product_image" id="product_image" accept="image/*" style="display: none;" >
                        </div>
                    </div>
                    <div class="form-group">
                  </div>
                </div>
                <!-- Second block -->
                
                <div class="col-md-4" style="border-right: 1px solid #dfdfdf;">
                    <h2>Financial Information</h2>
                    <div class="row">
                        <div class="col-md-6"> 
                            <label for="purchase_price">Purchase Price:</label>
                            <input type="float" step="0.01" name="purchase_price" id="purchase_price" class="form-control" value="{{ product.purchase_price }}" required>
                          </div>
                        <div class="col-md-6">
                            <label for="currency_edit">Currency:</label>
                            <select name="currency_edit" id="currency_edit" class="form-control" enabled>
                            <option value="USD" {% if product.currency == 'USD' %}selected{% endif %}>USD</option>
                            <option value="EUR" {% if product.currency == 'EUR' %}selected{% endif %}>EUR</option>
                            <option value="EGP" {% if product.currency == 'EGP' %}selected{% endif %}>EGP</option>
                        </select>
                        </div>
                    </div><br>
                    <h4>Egypt</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="quantity_egypt">Opening Balance:</label>
                            <input type="number" name="quantity_egypt" id="quantity_egypt" class="form-control"  value="{{ product.quantity_egypt }}" >
                        </div>
                        <div class="col-md-6">
                            <label for="cost_factor_egypt">Cost Factor:</label>
                            <input type="float" step="0.01" name="cost_factor_egypt" id="cost_factor_egypt" class="form-control"value="{{ product.cost_factor_egypt|round(3) }}" required>
                        </div>
                       
                    </div> 
                    <br>
                    <h4>UAE</h4>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="quantity_uae">Opening Balance:</label>
                            <input type="number" name="quantity_uae" id="quantity_uae" class="form-control"value="{{ product.quantity_uae }}">
                        </div>
                        <div class="col-md-6">
                            <label for="cost_factor_uae">Cost Factor:</label>
                            <input type="float" step="0.01" name="cost_factor_uae" id="cost_factor_uae" class="form-control" value="{{ product.cost_factor_uae|round(3) }}">
                        </div>
                    </div>
                    <br>
                    <h4>T端rkiye</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="quantity_turkey">Opening Balance:</label>
                            <input type="number" name="quantity_turkey" id="quantity_turkey" class="form-control"value="{{ product.quantity_turkey }}">
                        </div>
                        <div class="col-md-6">
                            <label for="cost_factor_turkey">Cost Factor:</label>
                            <input type="float" step="0.01" name="cost_factor_turkey" id="cost_factor_turkey" class="form-control" value="{{ product.cost_factor_turkey|round(3) }}">
                        </div>
                    </div> 
                    <br>
                    

                </div>
                <div class="col-md-4">
                    <h2>Specifications</h2>

                    <div id="photocell_division">                    
                        <div class="row">
                            <div class="col-md-6">
                                <label for="photocell_type">Type:</label>
                                <select name="photocell_type" id="photocell_type" class="form-control">
                                    <option value="Diffuse" {% if product.brand == 'Diffuse' %}selected{% endif %}>Diffuse</option>
                                    <option value="Retro Reflective" {% if product.photocell_type == 'Retro Reflective' %}selected{% endif %}>Retro Reflective</option>
                                    <option value="Through Beam" {% if product.photocell_type == 'Through Beam' %}selected{% endif %}>Through Beam</option>
                                </select>
                           </div>
                            <div class="col-md-6">
                                <label for="photocell_shape">Shape:</label>
                                <select name="photocell_shape" id="photocell_shape" class="form-control">
                                    <option value="Cylindrical" {% if product.photocell_shape == 'Cylindrical' %}selected{% endif %}>Cylindrical</option>
                                    <option value="Rectangular" {% if product.photocell_shape == 'Rectangular' %}selected{% endif %}>Rectangular</option>
                                </select>
                            </div>
                        </div>   
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="photocell_size">Size:</label>
                                 <input type="text" name="photocell_size" id="photocell_size" placeholder="Example: 18 or 14*6" class="form-control" value="{{ product.photocell_size }}">
                            </div>
                            <div class="col-md-6">
                                <label for="photocell_distance">Sensing Distance:</label>
                                <input type="float" name="photocell_distance" id="photocell_distance" placeholder="in millimeters" class="form-control" value="{{ product.photocell_distance }}">
                            </div>
                        </div>   
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="output_type">Output Type:</label>
                                <select name="output_type" id="output_type" class="form-control">
                                    <option value="PNP" {% if product.output_type == 'PNP' %}selected{% endif %}>PNP</option>
                                    <option value="NPN" {% if product.output_type == 'NPN' %}selected{% endif %}>NPN</option>
                                    <option value="Relay Output" {% if product.output_type == 'Relay Output' %}selected{% endif %}>Relay Output</option>
                                </select>                    
                            </div>
                            <div class="col-md-6">
                                <label for="photocell_connection">Connection:</label>
                                <select name="photocell_connection" id="photocell_connection" class="form-control">
                                    <option value="Cable" {% if product.photocell_connection == 'Cable' %}selected{% endif %}>Cable</option>
                                    <option value="Socket" {% if product.photocell_connection == 'Socket' %}selected{% endif %}>Socket</option>
                                </select>                    
                             </div>
                        </div> 
                        <br>
                        <div class="form-group">
                            <label for="inputvoltage">Input Voltage:</label>
                            <select name="inputvoltage" id="inputvoltage" class="form-control">
                                <option value="24VDC" {% if product.inputvoltage == '24VDC' %}selected{% endif %}>24VDC</option>
                                <option value="110VAC/DC" {% if product.inputvoltage == '110VAC/DC' %}selected{% endif %}>110VAC/DC</option>
                                <option value="220VAC/DC" {% if product.inputvoltage == '220VAC/DC' %}selected{% endif %}>220VAC/DC</option>
                            </select>
                         </div>
                     <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>    
</main>
<script>
 function toggleImageOption() {
        var option = document.querySelector('input[name="image_option"]:checked').value;
        var imageControls = document.getElementById('image_controls');
        
        if (option === 'existing') {
            // If user selects to use existing image, hide the upload input field and show the existing image
            document.getElementById('product_image').style.display = 'none';
        } else {
            // If user selects to upload a new image, hide the existing image and show the upload input field
            imageControls.innerHTML = '<input type="file" name="product_image" id="product_image" accept="image/*" required>';
        }
    }

    // Add event listener to radio buttons for image options
    var imageOptionRadios = document.querySelectorAll('input[name="image_option"]');
    imageOptionRadios.forEach(function(radio) {
        radio.addEventListener('change', toggleImageOption);
    });

    // Trigger the toggle function initially to reflect the default selection
    toggleImageOption();
</script>
   
</body>
</html> 