<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/92f293de12.js" crossorigin="anonymous"></script>

  <style>
    .form-check-label {
      position: relative;
      margin: 0;
      padding: 0.5rem 1.5rem;
      border: 2px solid #eee;
      display: flex;
      align-items: center;
      cursor: pointer;
      background-image: linear-gradient(#fff, #f8f8f8);
      font-weight: normal;
    }

    table.table th {
      font-weight: bold;
      font-size: 13px;
      color: #4c5157;
      font-family: Arial, sans-serif;
    }

    .card-body h5 a {
      font-size: 14px;
      font-family: Arial, sans-serif;
    }
    table.table td , .card-body p,h5{
      font-size: 14px;
      color: #4c5157;
      font-family: Arial, sans-serif;
    }

    .hidden {
      display: none;
    }

    #cardViewWrapper {
      background-color: rgba(var(--bs-emphasis-color-rgb), 0.05);
      padding: 20px;
    }


    .card-img-top {
      width: 50% !important;
      margin: auto;
    }

    .table-img-top {
      margin-left: 25px;
      width: 50%;
    }

    #myTable td:nth-child(2) {
      width: 10%;
    }

    .form-group {
      margin-bottom: 15px;
    }

    @media (max-width: 767px) {
      .form-group label {
        margin-bottom: 5px;
      }

      main.container-fluid {
        padding: 10px;
      }
    }
  </style>
</head>

<body>
  {% include 'head.html' %}
  <div class="container">
    <h1
      style="margin-top:20px;font-size: 34px;color: #34383c;max-width: 80rem;font-family:Open Sans , Arial, sans-serif;">
      Power Supply</h1>
      <button class="btn btn-secondary" onclick="showForm()">Filter by</button>

    <form id="filterForm" style="display: none;">
      <div class="row">
        <fieldset style="margin-top: 20px;">
          <Label>Model</Label>
          <input type="text" class="form-control form-check-label" id="myInput" onkeyup="filterTable()">
        </fieldset>
        <fieldset style="margin-top: 20px;" class="col-md-3">
          <Label>Brand</Label><br>
          <label class="form-check-label" onclick="toggleCheckbox('Omron')"
            style="justify-content:space-between"><span><input type="checkbox" onchange="filterTable()"
                name="filterStatus" value="Omron" class="form-check-input"> Omron</span><span
              style="color:gray">6</span></label>
          <label class="form-check-label" onclick="toggleCheckbox('Asem')"
            style="border-top:0;justify-content:space-between"><span><input type="checkbox" value="Asem"
                onchange="filterTable()" name="filterStatus" class="form-check-input"> Asem</span><span
              style="color:gray">0</span></label>
          <label class="form-check-label" onclick="toggleCheckbox('GMT')"
            style="border-top:0;justify-content:space-between"><span><input type="checkbox" value="GMT"
                onchange="filterTable()" name="filterStatus" class="form-check-input"> GMT</span><span
              style="color:gray">1</span></label><br>
        </fieldset>
        <fieldset style="margin-top: 20px;" class="col-md-3">
          <Label>Input Voltage</Label><br>
          <label class="form-check-label" style="justify-content: space-between;"><span ><input type="checkbox" value="220VAC"
                class="form-check-input"> 220VAC</span><span
                style="color:gray">5</span></label>
          <label class="form-check-label" style="border-top:0;justify-content: space-between;"><span><input type="checkbox" value="380VAC"
                class="form-check-input"> 380VAC</span><span
                style="color:gray">2</span></label>
        </fieldset>
        <fieldset style="margin-top: 20px;" class="col-md-3">
          <Label>Output Voltage</Label><br>
          <label class="form-check-label" style="justify-content: space-between;"><span ><input type="checkbox" value="12VDC"
                class="form-check-input"> 12VDC</span><span
                style="color:gray">0</span></label>
          <label class="form-check-label" style="border-top:0;justify-content: space-between;"><span><input type="checkbox" value="24VDC"
                class="form-check-input"> 24VDC</span><span
                style="color:gray">6</span></label>
          <label class="form-check-label" style="border-top:0;justify-content: space-between;"><span><input type="checkbox" value="48VDC"
                class="form-check-input"> 48VDC</span><span
                style="color:gray">1</span></label><br>
        </fieldset>

        <fieldset style="margin-top: 20px;" class="col-md-3">
          <Label>Output Current</Label><br>
          <label class="form-check-label" style="justify-content: space-between;"><span ><input type="checkbox" value="2.5A"
                class="form-check-input"> 2.5A</span><span
                style="color:gray">2</span></label>
          <label class="form-check-label" style="border-top:0;justify-content: space-between;"><span ><input type="checkbox"
                value="5A" class="form-check-input"> 5A</span><span
                style="color:gray">1</span></label>
          <label class="form-check-label" style="border-top:0;justify-content: space-between;"><span ><input type="checkbox"
                value="10A" class="form-check-input"> 10A</span><span
                style="color:gray">2</span></label>
          <label class="form-check-label" style="border-top:0;justify-content: space-between;"><span ><input type="checkbox"
                value="20A" class="form-check-input"> 20A</span><span
                style="color:gray">2</span></label><br>
        </fieldset>
      </div>
    </form>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="Display options">
          <button type="button" class="btn btn-primary" onclick="showCards()"><i class="fa-solid fa-grip"></i></button>
          <button type="button" class="btn btn-secondary" onclick="showList()"><i class="fa-solid fa-list"></i></button>
          
        </div>
      </div>
    </div>
    <br>

    <div id="listView" class="hidden">
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th scope="col">Brand</th>
          <th scope="col">Image</th>
          <th scope="col">Model</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.brand }}</td>
            <td><img src="{{ url_for('static', filename='uploads/' + product.product_image ) }}" class="table-img-top">
            </td>
            <td><a href="/power_supply_details?product_id={{ product.id }}">{{ product.model }}</a></td>
            <td>{{ product.description }}</td>
          </tr>
       
        {% endfor %}
      </tbody>
    </table>
    </div>

  </div>

  <div id="cardViewWrapper">
    <div class="container" id="cardView">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='uploads/' + product.product_image ) }}" class="card-img-top"
                alt="..." width="50%">
              <div class="card-body">
                <h5 class="card-title"><a href="/power_supply_details?product_id={{ product.id }}">{{ product.model }}</a></h5>
                <p class="card-text">{{ product.description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script>
    function showList() {
      $('#cardViewWrapper').addClass('hidden').hide();
      $('#listView').removeClass('hidden').show();
    }

    function showCards() {
      $('#listView').addClass('hidden').hide();
      $('#cardViewWrapper').removeClass('hidden').show();
    }

    function showForm(){
      $('#filterForm').toggle();
    }

    $(document).ready(function () {
      $('img').on('error', function () {
        $(this).attr('src', 'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg');
      });
    })

    function toggleCheckbox(value) {
      const checkboxes = document.querySelectorAll('input[type="checkbox"][value="' + value + '"]');
      checkboxes.forEach(checkbox => {
        checkbox.checked = !checkbox.checked;
      });
      filterTable();
    }
    function filterTable() {
      var inputModel = document.getElementById("myInput").value.toUpperCase();
      var checkboxesBrand = document.querySelectorAll('input[name="filterStatus"][value="Asem"], input[name="filterStatus"][value="Omron"], input[name="filterStatus"][value="GMT"]');

      var table = document.getElementById("myTable");
      var tr = table.getElementsByTagName("tr");

      for (var i = 1; i < tr.length; i++) {
        var tdModel = tr[i].getElementsByTagName("td")[1];
        var tdBrand = tr[i].getElementsByTagName("td")[0];
        if (tdModel && tdBrand) {
          var modelValue = tdModel.textContent || tdModel.innerText;
          var brandValue = tdBrand.textContent || tdBrand.innerText;
          var brandChecked = Array.from(checkboxesBrand).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value);

          if ((modelValue.toUpperCase().indexOf(inputModel) > -1 || inputModel === "") &&
            (brandChecked.length === 0 || brandChecked.includes(brandValue))) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
</body>

</html>