<!-------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Relays</title>
    {% include 'head.html' %}
    <section class="container-fluid">
        <!---->
        <div class="row">
            {% include 'side_bar.html' %}
        <!------------------------------------------------ Main content --------------------------------->
        <main class="col-md-9 main-content">
            <h1 class="mb-4">Relays</h1>
            <form>
                <div class="row">
                    <div class="col-md-1">
                        <label></label>Brand:</label>
                        <br><label><input type="checkbox" name="brand_search" value="Omron"> Omron</label>
                    </div>

                    <div class="col-md-2">
                        <label for="model_search">Model:</label>
                        <input type="text" id="model_search" name="model_search" class="form-control">
                    </div>

                    <div class="col-md-1">
                        <label for="pins_search">Pins:</label>
                        <input type="text" id="pins_search" name="pins_search" class="form-control">
                    </div>

                    <div class="col-md-1">
                        <label for="current_search">Current:</label>
                        <input type="text" id="current_search" name="current_search" class="form-control">
                    </div>

                    <div class="col-md-2">
                        <label></label>Coil Voltage:</label>
                        <br>
                        <label>
                            <input type="checkbox" name="coil_voltage_search" value="24VDC"> 24VDC
                            &nbsp;<br>
                            <input type="checkbox" name="coil_voltage_search" value="220VAC"> 220VAC
                        </label>
                    </div> 
                </div>
            </form>
           
            <!------------------------------------------------- Table ------------------------------------------------>
            <table class="table mt-4">
                <thead>
                    <tr>
                        {% if 'Information (EG)' in current_user.authority %}
                            <th>ID</th>
                        {% endif %}                    

                        <th>Brand</th>
                        <th>Model</th>
                        <th>Description</th>

                        {% if 'Balance Information (EG)' in current_user.authority %}
                            <th>Origin</th>
                            <th>Stock</th>
                        {% endif %}                    

                        {% if 'Sales Information (EG)' in current_user.authority %}
                            <th>List Price</th>
                        {% endif %}                    
                    </tr>
                </thead>    
                <tbody id="productTableBody">
                    {% for product in products %}
                    <tr>
                        {% if 'Information (EG)' in current_user.authority %}
                            <td>{{ product.id }}</td>
                        {% endif %} 
                        <td>{{ product.brand }}</td>
                        
                        <td><a href="/relay_details?product_id={{ product.id }}"> {{ product.model }}</a></td>                        
                        <td>{{ product.description }}</td>
                        
                        {% if 'Balance Information (EG)' in current_user.authority %}
                            <td>{{ product.origin }}</td>
                            <td>{{ product.quantity_egypt}}</td>
                            {% endif %}                 
    
                            {% if 'Sales Information (EG)' in current_user.authority %}
                                <td>{{ product.end_user_sales_price_egypt|round(3) }}</td>
                        {% endif %}                 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </section>
       
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            // Event listener for checkbox, dropdown, text input, and numeric input change
            $('input[name="brand_search"], #model_search, #current_search, #pins_search, input[name="coil_voltage_search"]').change(function () {
                // Get the selected checkbox values
                var brandsearch= $('input[name="brand_search"]:checked').map(function () {
                    return this.value;
                }).get();

                var coilvoltagesearch = $('input[name="coil_voltage_search"]:checked').map(function () {
                    return this.value;
                }).get();

                // Get the text input value
                var modelsearch = $('#model_search').val();
                var currentsearch = $('#current_search').val();

                // Get the numeric input value
                var pinssearch = $('#pins_search').val();

                // Make an asynchronous request to the server (replace with your actual endpoint)
                $.ajax({
                    type: 'POST',
                    url: '/relay',
                    data: {
                        'brand_search': brandsearch,
                        'model_search': modelsearch,
                        'current_search': currentsearch,
                        'pins_search': pinssearch,
                        'coil_voltage_search': coilvoltagesearch,
                    },
                    success: function (data) {
                        console.log('brand search:', brandsearch);
                        console.log('model search:', modelsearch);
                        console.log('current search:', currentsearch);
                        console.log('pins search:', pinssearch);
                        console.log('coil voltage search:', coilvoltagesearch);
                        $('#productTableBody').html($(data).find('#productTableBody').html());
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>    
</body>
</html>