<!DOCTYPE html>
<html lang="en">  
<head>
    <title>Servo Motor</title>
    {% include 'head.html' %}

    <section class="container-fluid">
        <!---->
        <div class="row">
            {% include 'side_bar.html' %}
        <!------------------------------------------------ Main content --------------------------------->
        <main class="col-md-9 main-content">
            <h1 class="mb-4">Servo Motor</h1>
            <form>
                <div class="row">
                    <div class="col-md-2">
                    
                        <label></label>Brand:</label>
                        <br>
                        <label>
                            <input type="checkbox" name="brand_search" value="Omron"> Omron
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="brand_search" value="Mitsubishi"> Mitsubishi
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="brand_search" value="Vector"> Vector
                        </label>
                      
                    </div>

                    <div class="col-md-2">
                        <label for="model_search">Model:</label>
                        <input type="text" id="model_search" name="model_search" class="form-control"> 
                    </div>

                   

                    <div class="col-md-1">
                        
                        <label for="series_search">Series:</label>
                        <input type="text" id="series_search" name="series_search" class="form-control">
                    </div>

                    <div class="col-md-1">
                        <label for="power_search">Power:</label>
                        <input type="float" id="power_search" name="power_search" class="form-control">
                    </div>


                 
                    <div class="col-md-1">
                        <label></label>Brake:</label>
                        <br>
                        <label>
                            <input type="checkbox" name="brake_search" value="Yes"> Yes
                            <br>
                            <input type="checkbox" name="brake_search" value="No"> No
                        </label>
                    </div>


                    <div class="col-md-2">
                        <label></label>Encoder:</label>
                        <br>
                        <label>
                            <input type="checkbox" name="encoder_search" value="Incremental"> Incremental
                            <br>
                            <input type="checkbox" name="encoder_search" value="Absolute"> Absolute
                        </label>
                    </div>
                </div>
            </form>

            
            <!------------------------------------------------- Table ------------------------------------------------>
            <table class="table mt-4">
                <thead>
                    <tr>
                        {% if 'Information (EG)' in current_user.authority %}
                            <th>ID</th>
                        {% endif %}                    

                        <th>Brand</th>
                        <th>Model</th>
                        <th>Description</th>

                        {% if 'Balance Information (EG)' in current_user.authority %}
                            <th>Origin</th>
                            <th>Stock</th>
                        {% endif %}                    

                        {% if 'Sales Information (EG)' in current_user.authority %}
                            <th>List Price</th>
                        {% endif %}                    
                    </tr>
                </thead>    
                <tbody id="productTableBody">
                    {% for product in products %}
                    <tr>
                        {% if 'Information (EG)' in current_user.authority %}
                            <td>{{ product.id }}</td>
                        {% endif %} 
                        <td>{{ product.brand }}</td>
                        
                        <td><a href="/servo_motor_details?product_id={{ product.id }}"> {{ product.model }}</a></td>                        
                        <td>{{ product.description }}</td>
                        
                        {% if 'Balance Information (EG)' in current_user.authority %}
                            <td>{{ product.origin }}</td>
                            <td>{{ product.quantity_egypt}}</td>
                            {% endif %}                 
    
                            {% if 'Sales Information (EG)' in current_user.authority %}
                                <td>{{ product.end_user_sales_price_egypt|round(3) }}</td>
                        {% endif %}                 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </section>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            // Event listener for checkbox, dropdown, text input, and numeric input change
            $('input[name="brand_search"], #model_search, #series_search, #power_search, input[name="encoder_search"], input[name="brake_search"]').change(function () {
                // Get the selected checkbox values
                var brandsearch= $('input[name="brand_search"]:checked').map(function () {
                    return this.value;
                }).get();

                var brakesearch = $('input[name="brake_search"]:checked').map(function () {
                    return this.value;
                }).get();

                var encodersearch = $('input[name="encoder_search"]:checked').map(function () {
                    return this.value;
                }).get();

                // Get the text input value
                var modelsearch = $('#model_search').val();
                var seriessearch = $('#series_search').val();

                // Get the numeric input value
                var powersearch = $('#power_search').val();

                // Make an asynchronous request to the server (replace with your actual endpoint)
                $.ajax({
                    type: 'POST',
                    url: '/servo_motor',
                    data: {
                        'brand_search': brandsearch,
                        'model_search': modelsearch,
                        'series_search': seriessearch,
                        'power_search': powersearch,
                        'encoder_search': encodersearch,
                        'brake_search': brakesearch

                    },
                    success: function (data) {
                        console.log('brand search:', brandsearch);
                        console.log('model search:', modelsearch);
                        console.log('series search:', seriessearch);
                        console.log('Power search:', powersearch);
                        console.log('encoder search:', encodersearch);
                        console.log('brake search:', brakesearch);

                        $('#productTableBody').html($(data).find('#productTableBody').html());
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>    
</body>
</html>