<aside class="col-md-2 sidebar"> 
    <h2>Filter</h2>
    <div class="mb-3">
        <label for="category_filter">Category:</label><br>
    
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/plc'">PLC</button> <br> 
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/hmi'" >HMI</button> <br>
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/inverter'">Inverter</button> <br>
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/power_supply'" data-value="Power Supply">Power Supply</button>  <br>
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/relay'">Relay</button> <br>
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/photocell'">Photocell</button> <br>
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/servo_drive'">Servo Drive</button> <br>
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/servo_motor'">Servo Motor</button> <br>
        <button type="button" class="btn btn-outline-primary category-btn" onclick="window.location.href='/servo_accessories'">Servo Accessories</button> <br>
    </div>
</aside>